<ion-content [fullscreen]="true" class="content">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Profile</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="profile-info">
    <!-- Profile Picture -->
    <img src="assets/images/profile.jpg" alt="Profile Picture" class="profile-picture">

    <!-- User Information -->
    <h2 class="profile-name" style="color: black;">{{ user.name }}</h2>
    <h4 style="color: black;">{{ user.email }}</h4>
    <p style="color: black;">{{ user.nomor_telpon }}</p>

    <!-- Menu -->
    <ion-grid>
      <ion-row>
        <ion-col col="3">
          <ion-button expand="full" fill="clear" href="/update-profile" class="button-update-profile">Update</ion-button>
        </ion-col>
        <ion-col col="3">
          <ion-button expand="full" fill="clear" (click)="logout()" class="button-logout">Logout</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
