<ion-content [fullscreen]="true" class="content">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Profile</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="profile-info">
    <div class="profile-picture-container">
      <img *ngIf="safePhotoUrl" [src]="safePhotoUrl" alt="Profile Picture" class="profile-picture">
      <div *ngIf="!safePhotoUrl" class="profile-initials">{{ getInitials(user.name) }}</div>
    </div>

    <h2 class="profile-name">{{ user.name }}</h2>
    <h4>{{ user.email }}</h4>
    <p>{{ user.nomor_telpon }}</p>

    <ion-grid>
      <ion-row>
        <ion-col size="6">
          <ion-button expand="full" fill="clear" href="/update-profile" class="button-update-profile">Update</ion-button>
        </ion-col>
        <ion-col size="6">
          <ion-button expand="full" fill="clear" (click)="logout()" class="button-logout">Logout</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
