<ion-content [fullscreen]="true" class="content">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Library</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- Form Pencarian -->
  <ion-searchbar class="search" [(ngModel)]="searchTerm" placeholder="Search" (ionInput)="filterBooks()"></ion-searchbar>

  <!-- Select Category Dropdown -->
  <div class="custom-select-container">
    <h5 class="select-heading">Select by category</h5>
    <ion-select class="custom-select" [(ngModel)]="selectedCategory" (ionChange)="filterBooks()" interface="popover" placeholder="Select Category">
      <ion-select-option value="All">All</ion-select-option>
      <ion-select-option *ngFor="let category of bookCategories" [value]="category">{{ category }}</ion-select-option>
    </ion-select>
  </div>
  
  <!-- Daftar Buku -->
  <ion-list lines="full" class="ion-no-padding">
    <ion-item *ngFor="let book of filteredBooks" [routerLink]="['/detail-books', book.id]" >
      <ion-thumbnail slot="start">
        <ion-img class="image-book" [src]="book?.cover" alt="book cover"></ion-img>
      </ion-thumbnail>
      <ion-label>
        <h2>{{ book?.judul }}</h2>
        <ion-text color="medium" class="ion-text-uppercase">{{ book.kategori }}</ion-text>
        <p class="author">{{ book?.pengarang }}</p>
        <p class="description">{{ book.deskripsi }}</p>
        <div class="rating">
          <ng-container *ngFor="let star of getStarArray(book.ratings)">
            <ion-icon [name]="star" style="color: gold;"></ion-icon>
          </ng-container>
          <span class="rating-value">{{ book.ratings }}</span>
        </div>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
