<!-- tab1.page.html -->

<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Welcome!
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="content">
  <div class="greeting">
    <p class="text" style="color: white;"><b>Hi, {{ userName }}</b></p>
    <h2 class="text" style="color: white;">
      <b>What book are you picking up today?</b>
    </h2>
  </div>

  <!-- Currently Reading Section -->
  <ion-card class="book-card" routerLink="/detail-books">
    <ion-card-header>
      <ion-card-subtitle class="text">Currently reading</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col size="3">
            <!-- Book Image -->
            <ion-img [src]="'assets/images/1.jpg'"></ion-img>
          </ion-col>
          <ion-col size="9">
            <!-- Book Information -->
            <ion-card-title class="text">Free Fall</ion-card-title>
            <p class="text">William Golding</p>
            <p class="text">Return until 25.03.2020</p>
            <!-- Additional Info -->
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <!-- New Arrival Section -->
  <div class="new-arrival">
    <div class="arrival-header">
      <h2 class="new-arrival-title text">New Arrival</h2>
      <div class="view-all-container">
        <ion-button size="small" fill="clear" class="text" routerLink="/all">View All ></ion-button>
      </div>
    </div>
    <div class="scrolling-wrapper">
      <ion-card class="card" *ngFor="let book of newBooks" [routerLink]="['/detail-books', book.id]" style="width: 10em;">
        <ion-img [src]="book.cover" style="width: 100%; height: auto;"></ion-img>
        <ion-card-content>
          <ion-card-title class="text text-book-title">{{ book.judul }}</ion-card-title>
          <p class="text author-text">{{ book.pengarang }}</p>
          <div class="rating">
            <ion-icon style="color: gold;" name="star"></ion-icon>
            <ion-icon style="color: gold;" name="star"></ion-icon>
            <ion-icon style="color: gold;" name="star"></ion-icon>
            <ion-icon style="color: gold;" name="star"></ion-icon>
            <ion-icon style="color: gold;" [name]="book.ratings >= 5 ? 'star' : 'star-outline'"></ion-icon>
            <span class="rating-value">{{ book.ratings }}</span>
          </div>
        </ion-card-content>
      </ion-card>
    </div>
  </div>

  <!-- Top Read Section -->
  <div class="top-read">
    <div class="read-top">
      <h2 class="top-read-title text">Top Borrow</h2>
    </div>
    <div class="scrolling-wrapper">
      <ion-card class="card top-read-card" *ngFor="let book of topReadBooks" [routerLink]="['/detail-books', book.id]" style="width: 15em; box-shadow: none; background-color: transparent;">
        <ion-card-content style="padding: 0px; background-color: transparent;">
          <ion-grid>
            <ion-row class="vertical-center">
              <ion-col size="3">
                <ion-img [src]="book.cover" style="height: 100px; width: 100%; object-fit: cover;"></ion-img>
              </ion-col>
              <ion-col size="9">
                <h2 class="text text-book-title"><b>{{ book.judul }}</b></h2>
                <p class="text text-book-title text-author">{{ book.pengarang }}</p>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
      </ion-card>
    </div>
  </div>

  <app-explore-container></app-explore-container>
</ion-content>
