<ion-header [translucent]="true" class="content">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Detail Book
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="content">
  
  <!-- Detail Book Section -->
  <ion-card class="custom-card-book-detail">
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col size="12" class="ion-text-center">
            <!-- Book Cover -->
            <ion-img [src]="book?.cover" style="max-width: 200px; margin: 0 auto;"></ion-img>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12" class="ion-text-center">
            <!-- Book Information -->
            <ion-card-title class="text" style="font-size: large;">{{ book?.judul }}</ion-card-title>
            <p class="text" style="margin: 0;">{{ book?.pengarang }}</p>
            <p class="text" style="margin: 0;">Ratings: <ion-icon style="color: yellow;" name="star"></ion-icon> {{ book?.ratings }}</p>
            <p class="text" style="margin: 0;">Stock: {{ book?.stock_available }}</p>
            <ion-button shape="round" (click)="borrowBook()">Borrow</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
  
  <!-- Book Description Section -->
  <ion-card class="custom-card-book-detail">
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col size="12" class="ion-text-center">
            <p class="text" style="text-align: left;"><strong>Overview:</strong></p>
            <p class="text" style="text-align: left;">{{ book?.deskripsi }}</p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
  <hr>
  <!-- Customer Reviews Section -->
  <div class="new-arrival" style="margin-bottom: 2em;">
    <!----
    <div class="arrival-header">
      <h2 class="new-arrival-title text" style="color: black;">Customer Reviews</h2>
    </div>
    <div class="scrolling-wrapper" style="display: flex; overflow-x: auto;">
      <ion-card class="card" *ngFor="let review of reviews" style="width: 25em; flex: 0 0 auto;">
        <ion-card-content>
          <ion-card-title class="text" style="font-size: medium; white-space: normal; word-wrap: break-word;">{{ review.desc }}</ion-card-title>
          <hr>
          <p class="text author-text">{{ review.author }}</p>
        </ion-card-content>
      </ion-card>
    </div>-->
  </div>
  
  <!-- Placeholder for additional content or components -->
  <!-- <app-explore-container></app-explore-container> -->
</ion-content>
